<!DOCTYPE html>
<div class="container">
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Evidence Dashboard</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User</th>
            <th>Time</th>
            <th>Action</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td><a href="/view/{{ row[0] }}">View</a></td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Upload More</a> |
    <a href="/logs">View Logs</a>
</body>
</html>
</div>